/* .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid yellow;
    border-bottom: 16px solid red;
    border-left: 16px solid gray;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */


/* FONT DECLARATION */

/* Josephine Font*/
@font-face {
  font-family: Josefine_Sans;
  src: url(../fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf);
}

/* Sora Font*/
@font-face {
  font-family: Sora;
  src: url(../fonts/Sora/Sora-VariableFont_wght.ttf);
}

/* Dancing Font */
@font-face {
  font-family: Dancing-Script;
  src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

/* Bakerine rough font */
@font-face {
  font-family: Bakerie;
  src: url(../fonts/bakerie-rough-font-family-1915924/BakerieRough-Light.otf);
}
.heading-part{
  font-size: smaller;
}
.heading-part:hover{
  box-shadow: 15px 15px 20px grey;
  transition: 0.8s linear;
}
.header a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

body {
  font-family: Josefine_Sans, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.header {
  text-align: center;
  padding-top: 10px;
  background-color: rgb(99, 98, 98);
}
.nav-link{
  display: inline;
  color: black;
}
.nav-link:hover{
  transition: 0.5s ease-in-out;
  padding: 5px;
  background-color: gray;
  color: white;
}

.company_name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  font-size: larger;
  letter-spacing: 1px;
}

.company_slogan {
  font-family: Bakerie;
  color: white;
  font-size: 8pt;
  letter-spacing: 2px;
}

.chairman_name {
  padding: 20px;
  font-family: Dancing-Script;
  font-weight: 900;
}

#box_shadower {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.devider {
  margin-top: 25px;
}

.devider-about-section {
  margin-top: 50px;
}

.devider-contact-section {
  padding-top: 20px;
  background-color: rgb(37, 37, 37);
}

.bh {
  color: white;
}

.follow_padding{
  padding-top: 8px;
}
.icon-padding {
  padding: 20px;
}

/* START FROM HERE  */

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
.customer_images{
  width: 20%;
  
}
.telephone{
  color: #3879f1;
}

.footer_link a{
  color: white;
}
.footer{
  text-align: center;
  padding-top: 5px;
}
.footer p{
  text-decoration: none;
  display: inline-block;
  font-size: small;
  text-align: center;
  margin-bottom: 0;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}